.bg-color {
  background-color: var(--bg-color);
}

.bg-repeat {
  background-repeat: repeat;
}

.bg-repeat-x {
  background-repeat: repeat-x;
}

.bg-repeat-y {
  background-repeat: repeat-y;
}

.bg-repeat-no {
  background-repeat: no-repeat;
}

.bg-repeat-round {
  background-repeat: round;
}

.bg-repeat-space {
  background-repeat: space;
}

.bg-repeat-cm {
  background-repeat: var(--bg-repeat-cm);
}

.bg-auto {
  background-size: auto;
}

.bg-cover {
  background-size: cover;
}

.bg-contain {
  background-size: contain;
}

.bg-size {
  background-size: var(--bgs-cm);
}

.bg-bottom {
  background-position: bottom;
}

.bg-center {
  background-position: center;
}

.bg-left {
  background-position: left;
}

.bg-left-bottom {
  background-position: left bottom;
}

.bg-left-top {
  background-position: left top;
}

.bg-right {
  background-position: right;
}

.bg-right-top {
  background-position: right top;
}

.bg-right-bottom {
  background-position: right bottom;
}

.bg-top {
  background-position: top;
}

.bg-x-center {
  background-position-x: center;
}

.bg-x-left {
  background-position-x: left;
}

.bg-x-right {
  background-position-x: right;
}

.bg-y-center {
  background-position-y: center;
}

.bg-y-bottom {
  background-position-y: bottom;
}

.bg-y-top {
  background-position-y: top;
}

.bg-pos {
  background-position: var(--bg-pos);
}

.bg-x {
  background-position-x: var(--bg-x);
}

.bg-y {
  background-position-y: var(--bg-y);
}

.bg-fixed {
  background-attachment: fixed;
}

.bg-local {
  background-attachment: local;
}

.bg-scroll {
  background-attachment: scroll;
}

.bg-none {
  background: none;
}

.bg-transparent {
  background: transparent;
}

.bg-img {
  background-image: var(--img-url);
}

.bg {
  background: var(--bg);
}

@media screen and (min-width: 576px) {
  .sm\:bg-color {
    background-color: var(--bg-color-sm);
  }
  .sm\:bg-repeat {
    background-repeat: repeat;
  }
  .sm\:bg-repeat-x {
    background-repeat: repeat-x;
  }
  .sm\:bg-repeat-y {
    background-repeat: repeat-y;
  }
  .sm\:bg-repeat-no {
    background-repeat: no-repeat;
  }
  .sm\:bg-repeat-round {
    background-repeat: round;
  }
  .sm\:bg-repeat-space {
    background-repeat: space;
  }
  .sm\:bg-repeat-cm {
    background-repeat: var(--bg-repeat-cm-sm);
  }
  .sm\:bg-auto {
    background-size: auto;
  }
  .sm\:bg-cover {
    background-size: cover;
  }
  .sm\:bg-contain {
    background-size: contain;
  }
  .sm\:bg-size {
    background-size: var(--bgs-cm);
  }
  .sm\:bg-bottom {
    background-position: bottom;
  }
  .sm\:bg-center {
    background-position: center;
  }
  .sm\:bg-left {
    background-position: left;
  }
  .sm\:bg-left-bottom {
    background-position: left bottom;
  }
  .sm\:bg-left-top {
    background-position: left top;
  }
  .sm\:bg-right {
    background-position: right;
  }
  .sm\:bg-right-top {
    background-position: right top;
  }
  .sm\:bg-right-bottom {
    background-position: right bottom;
  }
  .sm\:bg-top {
    background-position: top;
  }
  .sm\:bg-x-center {
    background-position-x: center;
  }
  .sm\:bg-x-left {
    background-position-x: left;
  }
  .sm\:bg-x-right {
    background-position-x: right;
  }
  .sm\:bg-y-center {
    background-position-y: center;
  }
  .sm\:bg-y-bottom {
    background-position-y: bottom;
  }
  .sm\:bg-y-top {
    background-position-y: top;
  }
  .sm\:bg-pos {
    background-position: var(--bg-pos-sm);
  }
  .sm\:bg-x {
    background-position-x: var(--bg-x-sm);
  }
  .sm\:bg-y {
    background-position-y: var(--bg-y-sm);
  }
  .sm\:bg-fixed {
    background-attachment: fixed;
  }
  .sm\:bg-local {
    background-attachment: local;
  }
  .sm\:bg-scroll {
    background-attachment: scroll;
  }
  .sm\:bg-none {
    background: none;
  }
  .sm\:bg-transparent {
    background: transparent;
  }
  .sm\:bg-img {
    background-image: var(--img-url-sm);
  }
  .sm\:bg {
    background: var(--bg-sm);
  }
}
@media screen and (min-width: 768px) {
  .md\:bg-color {
    background-color: var(--bg-color-md);
  }
  .md\:bg-repeat {
    background-repeat: repeat;
  }
  .md\:bg-repeat-x {
    background-repeat: repeat-x;
  }
  .md\:bg-repeat-y {
    background-repeat: repeat-y;
  }
  .md\:bg-repeat-no {
    background-repeat: no-repeat;
  }
  .md\:bg-repeat-round {
    background-repeat: round;
  }
  .md\:bg-repeat-space {
    background-repeat: space;
  }
  .md\:bg-repeat-cm {
    background-repeat: var(--bg-repeat-cm-md);
  }
  .md\:bg-auto {
    background-size: auto;
  }
  .md\:bg-cover {
    background-size: cover;
  }
  .md\:bg-contain {
    background-size: contain;
  }
  .md\:bg-size {
    background-size: var(--bgs-cm);
  }
  .md\:bg-bottom {
    background-position: bottom;
  }
  .md\:bg-center {
    background-position: center;
  }
  .md\:bg-left {
    background-position: left;
  }
  .md\:bg-left-bottom {
    background-position: left bottom;
  }
  .md\:bg-left-top {
    background-position: left top;
  }
  .md\:bg-right {
    background-position: right;
  }
  .md\:bg-right-top {
    background-position: right top;
  }
  .md\:bg-right-bottom {
    background-position: right bottom;
  }
  .md\:bg-top {
    background-position: top;
  }
  .md\:bg-x-center {
    background-position-x: center;
  }
  .md\:bg-x-left {
    background-position-x: left;
  }
  .md\:bg-x-right {
    background-position-x: right;
  }
  .md\:bg-y-center {
    background-position-y: center;
  }
  .md\:bg-y-bottom {
    background-position-y: bottom;
  }
  .md\:bg-y-top {
    background-position-y: top;
  }
  .md\:bg-pos {
    background-position: var(--bg-pos-md);
  }
  .md\:bg-x {
    background-position-x: var(--bg-x-md);
  }
  .md\:bg-y {
    background-position-y: var(--bg-y-md);
  }
  .md\:bg-fixed {
    background-attachment: fixed;
  }
  .md\:bg-local {
    background-attachment: local;
  }
  .md\:bg-scroll {
    background-attachment: scroll;
  }
  .md\:bg-none {
    background: none;
  }
  .md\:bg-transparent {
    background: transparent;
  }
  .md\:bg-img {
    background-image: var(--img-url-md);
  }
  .md\:bg {
    background: var(--bg-md);
  }
}
@media screen and (min-width: 992px) {
  .lg\:bg-color {
    background-color: var(--bg-color-lg);
  }
  .lg\:bg-repeat {
    background-repeat: repeat;
  }
  .lg\:bg-repeat-x {
    background-repeat: repeat-x;
  }
  .lg\:bg-repeat-y {
    background-repeat: repeat-y;
  }
  .lg\:bg-repeat-no {
    background-repeat: no-repeat;
  }
  .lg\:bg-repeat-round {
    background-repeat: round;
  }
  .lg\:bg-repeat-space {
    background-repeat: space;
  }
  .lg\:bg-repeat-cm {
    background-repeat: var(--bg-repeat-cm-lg);
  }
  .lg\:bg-auto {
    background-size: auto;
  }
  .lg\:bg-cover {
    background-size: cover;
  }
  .lg\:bg-contain {
    background-size: contain;
  }
  .lg\:bg-size {
    background-size: var(--bgs-cm);
  }
  .lg\:bg-bottom {
    background-position: bottom;
  }
  .lg\:bg-center {
    background-position: center;
  }
  .lg\:bg-left {
    background-position: left;
  }
  .lg\:bg-left-bottom {
    background-position: left bottom;
  }
  .lg\:bg-left-top {
    background-position: left top;
  }
  .lg\:bg-right {
    background-position: right;
  }
  .lg\:bg-right-top {
    background-position: right top;
  }
  .lg\:bg-right-bottom {
    background-position: right bottom;
  }
  .lg\:bg-top {
    background-position: top;
  }
  .lg\:bg-x-center {
    background-position-x: center;
  }
  .lg\:bg-x-left {
    background-position-x: left;
  }
  .lg\:bg-x-right {
    background-position-x: right;
  }
  .lg\:bg-y-center {
    background-position-y: center;
  }
  .lg\:bg-y-bottom {
    background-position-y: bottom;
  }
  .lg\:bg-y-top {
    background-position-y: top;
  }
  .lg\:bg-pos {
    background-position: var(--bg-pos-lg);
  }
  .lg\:bg-x {
    background-position-x: var(--bg-x-lg);
  }
  .lg\:bg-y {
    background-position-y: var(--bg-y-lg);
  }
  .lg\:bg-fixed {
    background-attachment: fixed;
  }
  .lg\:bg-local {
    background-attachment: local;
  }
  .lg\:bg-scroll {
    background-attachment: scroll;
  }
  .lg\:bg-none {
    background: none;
  }
  .lg\:bg-transparent {
    background: transparent;
  }
  .lg\:bg-img {
    background-image: var(--img-url-lg);
  }
  .lg\:bg {
    background: var(--bg-lg);
  }
}
@media screen and (min-width: 1200px) {
  .xl\:bg-color {
    background-color: var(--bg-color-xl);
  }
  .xl\:bg-repeat {
    background-repeat: repeat;
  }
  .xl\:bg-repeat-x {
    background-repeat: repeat-x;
  }
  .xl\:bg-repeat-y {
    background-repeat: repeat-y;
  }
  .xl\:bg-repeat-no {
    background-repeat: no-repeat;
  }
  .xl\:bg-repeat-round {
    background-repeat: round;
  }
  .xl\:bg-repeat-space {
    background-repeat: space;
  }
  .xl\:bg-repeat-cm {
    background-repeat: var(--bg-repeat-cm-xl);
  }
  .xl\:bg-auto {
    background-size: auto;
  }
  .xl\:bg-cover {
    background-size: cover;
  }
  .xl\:bg-contain {
    background-size: contain;
  }
  .xl\:bg-size {
    background-size: var(--bgs-cm);
  }
  .xl\:bg-bottom {
    background-position: bottom;
  }
  .xl\:bg-center {
    background-position: center;
  }
  .xl\:bg-left {
    background-position: left;
  }
  .xl\:bg-left-bottom {
    background-position: left bottom;
  }
  .xl\:bg-left-top {
    background-position: left top;
  }
  .xl\:bg-right {
    background-position: right;
  }
  .xl\:bg-right-top {
    background-position: right top;
  }
  .xl\:bg-right-bottom {
    background-position: right bottom;
  }
  .xl\:bg-top {
    background-position: top;
  }
  .xl\:bg-x-center {
    background-position-x: center;
  }
  .xl\:bg-x-left {
    background-position-x: left;
  }
  .xl\:bg-x-right {
    background-position-x: right;
  }
  .xl\:bg-y-center {
    background-position-y: center;
  }
  .xl\:bg-y-bottom {
    background-position-y: bottom;
  }
  .xl\:bg-y-top {
    background-position-y: top;
  }
  .xl\:bg-pos {
    background-position: var(--bg-pos-xl);
  }
  .xl\:bg-x {
    background-position-x: var(--bg-x-xl);
  }
  .xl\:bg-y {
    background-position-y: var(--bg-y-xl);
  }
  .xl\:bg-fixed {
    background-attachment: fixed;
  }
  .xl\:bg-local {
    background-attachment: local;
  }
  .xl\:bg-scroll {
    background-attachment: scroll;
  }
  .xl\:bg-none {
    background: none;
  }
  .xl\:bg-transparent {
    background: transparent;
  }
  .xl\:bg-img {
    background-image: var(--img-url-xl);
  }
  .xl\:bg {
    background: var(--bg-xl);
  }
}
@media screen and (min-width: 1400px) {
  .xxl\:bg-color {
    background-color: var(--bg-color-xxl);
  }
  .xxl\:bg-repeat {
    background-repeat: repeat;
  }
  .xxl\:bg-repeat-x {
    background-repeat: repeat-x;
  }
  .xxl\:bg-repeat-y {
    background-repeat: repeat-y;
  }
  .xxl\:bg-repeat-no {
    background-repeat: no-repeat;
  }
  .xxl\:bg-repeat-round {
    background-repeat: round;
  }
  .xxl\:bg-repeat-space {
    background-repeat: space;
  }
  .xxl\:bg-repeat-cm {
    background-repeat: var(--bg-repeat-cm-xxl);
  }
  .xxl\:bg-auto {
    background-size: auto;
  }
  .xxl\:bg-cover {
    background-size: cover;
  }
  .xxl\:bg-contain {
    background-size: contain;
  }
  .xxl\:bg-size {
    background-size: var(--bgs-cm);
  }
  .xxl\:bg-bottom {
    background-position: bottom;
  }
  .xxl\:bg-center {
    background-position: center;
  }
  .xxl\:bg-left {
    background-position: left;
  }
  .xxl\:bg-left-bottom {
    background-position: left bottom;
  }
  .xxl\:bg-left-top {
    background-position: left top;
  }
  .xxl\:bg-right {
    background-position: right;
  }
  .xxl\:bg-right-top {
    background-position: right top;
  }
  .xxl\:bg-right-bottom {
    background-position: right bottom;
  }
  .xxl\:bg-top {
    background-position: top;
  }
  .xxl\:bg-x-center {
    background-position-x: center;
  }
  .xxl\:bg-x-left {
    background-position-x: left;
  }
  .xxl\:bg-x-right {
    background-position-x: right;
  }
  .xxl\:bg-y-center {
    background-position-y: center;
  }
  .xxl\:bg-y-bottom {
    background-position-y: bottom;
  }
  .xxl\:bg-y-top {
    background-position-y: top;
  }
  .xxl\:bg-pos {
    background-position: var(--bg-pos-xxl);
  }
  .xxl\:bg-x {
    background-position-x: var(--bg-x-xxl);
  }
  .xxl\:bg-y {
    background-position-y: var(--bg-y-xxl);
  }
  .xxl\:bg-fixed {
    background-attachment: fixed;
  }
  .xxl\:bg-local {
    background-attachment: local;
  }
  .xxl\:bg-scroll {
    background-attachment: scroll;
  }
  .xxl\:bg-none {
    background: none;
  }
  .xxl\:bg-transparent {
    background: transparent;
  }
  .xxl\:bg-img {
    background-image: var(--img-url-xxl);
  }
  .xxl\:bg {
    background: var(--bg-xxl);
  }
}/*# sourceMappingURL=background.css.map */