.of-auto {
    overflow: auto;
}

.of-hidden {
    overflow: hidden;
}

.of-visible {
    overflow: visible;
}

.of-scroll {
    overflow: scroll;
}

.of-x-auto {
    overflow-x: auto;
}

.of-x-hidden {
    overflow-x: hidden;
}

.of-x-visible {
    overflow-x: visible;
}

.of-x-scroll {
    overflow-x: scroll;
}

.of-y-auto {
    overflow-y: auto;
}

.of-y-hidden {
    overflow-y: hidden;
}

.of-y-visible {
    overflow-y: visible;
}

.of-y-scroll {
    overflow-y: scroll;
}


@media screen and (min-width: 576px) {
    .sm\:of-auto {
        overflow: auto;
    }

    .sm\:of-hidden {
        overflow: hidden;
    }

    .sm\:of-visible {
        overflow: visible;
    }

    .sm\:of-scroll {
        overflow: scroll;
    }

    .sm\:of-x-auto {
        overflow-x: auto;
    }

    .sm\:of-x-hidden {
        overflow-x: hidden;
    }

    .sm\:of-x-visible {
        overflow-x: visible;
    }

    .sm\:of-x-scroll {
        overflow-x: scroll;
    }

    .sm\:of-y-auto {
        overflow-y: auto;
    }

    .sm\:of-y-hidden {
        overflow-y: hidden;
    }

    .sm\:of-y-visible {
        overflow-y: visible;
    }

    .sm\:of-y-scroll {
        overflow-y: scroll;
    }

}

@media screen and (min-width: 768px) {
    .md\:of-auto {
        overflow: auto;
    }

    .md\:of-hidden {
        overflow: hidden;
    }

    .md\:of-visible {
        overflow: visible;
    }

    .md\:of-scroll {
        overflow: scroll;
    }

    .md\:of-x-auto {
        overflow-x: auto;
    }

    .md\:of-x-hidden {
        overflow-x: hidden;
    }

    .md\:of-x-visible {
        overflow-x: visible;
    }

    .md\:of-x-scroll {
        overflow-x: scroll;
    }

    .md\:of-y-auto {
        overflow-y: auto;
    }

    .md\:of-y-hidden {
        overflow-y: hidden;
    }

    .md\:of-y-visible {
        overflow-y: visible;
    }

    .md\:of-y-scroll {
        overflow-y: scroll;
    }
}

@media screen and (min-width: 992px) {
    .lg\:of-auto {
        overflow: auto;
    }

    .lg\:of-hidden {
        overflow: hidden;
    }

    .lg\:of-visible {
        overflow: visible;
    }

    .lg\:of-scroll {
        overflow: scroll;
    }

    .lg\:of-x-auto {
        overflow-x: auto;
    }

    .lg\:of-x-hidden {
        overflow-x: hidden;
    }

    .lg\:of-x-visible {
        overflow-x: visible;
    }

    .lg\:of-x-scroll {
        overflow-x: scroll;
    }

    .lg\:of-y-auto {
        overflow-y: auto;
    }

    .lg\:of-y-hidden {
        overflow-y: hidden;
    }

    .lg\:of-y-visible {
        overflow-y: visible;
    }

    .lg\:of-y-scroll {
        overflow-y: scroll;
    }
}

@media screen and (min-width: 1200px) {
    .xl\:of-auto {
        overflow: auto;
    }

    .xl\:of-hidden {
        overflow: hidden;
    }

    .xl\:of-visible {
        overflow: visible;
    }

    .xl\:of-scroll {
        overflow: scroll;
    }

    .xl\:of-x-auto {
        overflow-x: auto;
    }

    .xl\:of-x-hidden {
        overflow-x: hidden;
    }

    .xl\:of-x-visible {
        overflow-x: visible;
    }

    .xl\:of-x-scroll {
        overflow-x: scroll;
    }

    .xl\:of-y-auto {
        overflow-y: auto;
    }

    .xl\:of-y-hidden {
        overflow-y: hidden;
    }

    .xl\:of-y-visible {
        overflow-y: visible;
    }

    .xl\:of-y-scroll {
        overflow-y: scroll;
    }
}

@media screen and (min-width: 1400px) {
    .xxl\:of-auto {
        overflow: auto;
    }

    .xxl\:of-hidden {
        overflow: hidden;
    }

    .xxl\:of-visible {
        overflow: visible;
    }

    .xxl\:of-scroll {
        overflow: scroll;
    }

    .xxl\:of-x-auto {
        overflow-x: auto;
    }

    .xxl\:of-x-hidden {
        overflow-x: hidden;
    }

    .xxl\:of-x-visible {
        overflow-x: visible;
    }

    .xxl\:of-x-scroll {
        overflow-x: scroll;
    }

    .xxl\:of-y-auto {
        overflow-y: auto;
    }

    .xxl\:of-y-hidden {
        overflow-y: hidden;
    }

    .xxl\:of-y-visible {
        overflow-y: visible;
    }

    .xxl\:of-y-scroll {
        overflow-y: scroll;
    }

}